#game_screen {
    margin: 1 rem;
    border: 1 px solid black;
    cursor: crosshair;
}

.my_color {
    color: rgb(250, 250, 250);
}

body {
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
}